@charset "utf-8";
/* CSS Document */
body{
	background: #EEE;
	}
.header{
	width:1100px;
	height:200px;
	border-radius:5px;
	background:url(../images/banner_top.jpg);
	background-position:right;
	margin:10px auto;
	overflow:hidden;
	}
.header img{
	margin-top:20px;
	float:left;
	}
.header-box{
	width:300px;
	height:70px;
	float:left;
	margin-top:45px;
	margin-left:450px;
	}
.box-text li{
	padding-top:10px;
	display:block;
	text-align:center;
	font-weight:bold;
	position:relative;
	animation-name:myfirst;
	animation-duration:3s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-play-state:running;
	}
@keyframes myfirst
{
0%   {left:0px; top:0px;}
100%  {left:100px; top:0px;}

}
.box-text li:nth-child(1){
	-webkit-animation-delay: 0s;
			animation-delay: 0s;
	}
.box-text li:nth-child(2){
	-webkit-animation-delay: 3s;
			animation-delay: 3s;
	}
.box-text li:nth-child(3){
	-webkit-animation-delay: 6s;
			animation-delay: 6s;
	}
.box-text-li{
	float:right;
	}
.header-rightimg img{
	width:250px;
	float:right;
	transform: rotate(-40deg);
	}
.nav{
	width:1100px;
	height:100px;
	margin:0 auto;
	background:#FFF;
	}
.nav img{
	height:60px;
	margin-top:20px;
	float:left;
	clear:left;
	}
.nav ul:nth-child(1){
	margin-left:50px;
	}
.nav ul{
	color: #505050;
	float:left;
	margin-top:40px;
	margin-left:50px;
	position:relative;
	}
.nav ul li{
	font-weight:bold;
	}
.nav ul li a{
	color:#666;
	text-decoration:none;
	}
.nav ul li ul{
	position:absolute;
	margin:0;
	padding:0;
	display:none;
	}
.nav ul li ul li{
	font-size:14px;
	font-weight:normal;
	}
.nav ul li:nth-child(1):hover ul{
	display:block;
	animation:run 1s ease alternate;
	}
.nav ul li:nth-child(2):hover ul{
	display:block;
	animation:run 1s ease alternate;
	}
@keyframes run{
	0%{left:0; top:0px; opacity:0;}
	100%{ left:0; top:20px; opacity:1;}
	}
	
/*下面是尾部*/
.footer{
	width:1100px;
	height:50px;
	margin:20px auto 0;
	}
.footer p{
	text-align:center;
	line-height:50px;
	}
